Slashes in vCard UIDs break routing

### Describe the bug

If a UID of a vCard contains a slash, the routing will break. This is allowed according to [RFC 6350 Section 6.7.6](https://www.rfc-editor.org/rfc/rfc6350.html#section-6.7.6).

**My suggestion:** Encode the path to a vCard using base64 like we do for events in the Calendar app. This way we are safe regardless of the characters used in UIDs.

**Bonus points:** Think about using the actual URI of the vCard instead of the UID (like in Calendar).

### Steps to reproduce

1. Import the following demo contact.
2. Open it.
3. Reload the page.
4. Observe Nextcloud's generic 404 page.

```vcard
BEGIN:VCARD
VERSION:3.0
PRODID:-//Sabre//Sabre VObject 4.5.6//EN
UID:KDplLQM7P/2JvRLqdpbziA==
REV;VALUE=DATE-TIME:20250806T093806Z
FN:UID Test
END:VCARD
```


### Expected behavior

The contact should be shown if navigating to it directly via a URL.

### Actual behavior

Nextcloud's generic 404 page is shown indicating the routing broke.

### Contact version

main, all released versions