Support JSContact (exportation and importation).

### Is your feature request related to a problem? Please describe.

vCard (IETF RFC 6350)'s plain-text structure is decades old. This is demonstrated in how it lacks native support for modern contact attributes (examples include social media handles), without awkward hacks, its lines are length-limited, and its syntax is not reasily readable in plain-text form.

### Describe the solution you'd like

Instead of nesting <del>endless</del> arrays, JSContact (IETF RFC 9553) utilises standard key-value maps, thereby making it significantly easier to read and update via API.

### Describe alternatives you've considered

Because jCard (IETF RFC 7095) is a direct translation of the vCard data model into a JSON structure, the underlying semantics are exactly the same as vCard. Although this allows developers to pass contacts around in JSON (the modern standard format for APIs) without changing their backend vCard models, because it mirrors vCard's data model, it uses nested arrays rather than logical objects, making it clunky to work with, inside modern object-oriented programming or validation frameworks.

### Additional context

This, ideally, replaces [`issues/3956`](https://github.com/nextcloud/contacts/issues/3956#issuecomment-4530559700), which requests jCard support.

@SebastianKrupinski : I guess it's okay to accept this issue as replacement for the jCard one?