Wrong vcard format for "related to contact" field

### Describe the bug
Adding a RELATED property, in my case a name of a person, to a contact via the UI gets converted to wrong vcard format.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a related to contact property via the webinterface
2. Download the vcard via the button
3. Open the vcf

**Expected behavior**
According to the [RFC 6350 Section 6.6.6](https://tools.ietf.org/html/rfc6350#section-6.6.6) it must be `RELATED;TYPE=CONTACT;VALUE=text:Hans Muster` for text values.

**Actual behavior**
Entering: Hans Muster
Result: `RELATED;TYPE=CONTACT:Hans Muster`